<h1>My CRM</h1>
 
<ul>
  <% for i in @companies %>
    <li>
      <a href="/companies/<%=i["id"]%>"><%= i["name"] %></a>
    </li>
  <% end %>
</ul>



<p>
<a href="/companies/new">New Company</a>
</p>